<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{furl '/aui/css/aui-all.css'}}" type="text/css" />
  <!--[if lt IE 9]><link rel="stylesheet" href="{{furl '/aui/css/aui-ie.css'}}" media="all"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="{{furl '/aui/css/aui-ie9.css'}}" media="all"><![endif]-->
  <link rel="stylesheet" href="{{hostStylesheetUrl}}" type="text/css" />
  <link rel="stylesheet" href="{{furl '/aui/css/aui-all.css'}}" type="text/css" />
  <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
  <script src="{{hostScriptUrl}}" type="text/javascript"></script>
</head>
<body class="aui-page-hybrid">
  <section id="content" role="main">
    {{{body}}}
  </section>
  <script src="{{furl '/aui/js/aui-all.js'}}" type="text/javascript"></script>
  <!--[if lt IE 9]><script src="{{furl '/aui/js/aui-ie.js'}}"></script><![endif]-->
  <script src="{{furl '/js/addon.js'}}"></script>
</body>
</html>
